body {
  background: url(./Asset/Image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 175px;
  font-weight: bold;
  font-size: large;
  text-align: center;
  color: rgb(76, 0, 255);
  align-items: center;
  width: 100%;
}